@model BLOG.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div class="pb-6">
    <hr />
    <dl class="row">
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
</div>

<h4>Comentarios</h4> 
@if (Model.Comments == null || Model.Comments.Count == 0)
{
    <div class="pb-3">
        <small>No hay comentarios.</small>
    </div>
}
else
{
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>@comment.Text</li>
        }
    </ul>
}

<div class="col-8 new">
    <h4> Haz un nuevo comantario</h4>
    <form method="post" id="formRegistro" asp-action="Create" asp-controller="Comments">
        <input type="hidden" name="postId" value="@Model.Id" />
        <input type="hidden" name="authorId" value="@Model.AuthorId" />
        <div class="row d-flex justify-content-center align-items-center">
            <div class="form-group">
                <textarea name="text" class="form-control form-control-add form-control form-control-add-lg" placeholder="Haz un comentario..." rows="5"></textarea>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end align-items-center">
                <input type="submit" value="Guardar" id="ReportButton" class="add_confirm btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>
