@model dynamic

@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>

@foreach (var post in Model.Posts)
{
    <article class="blog-post">
        <h3>@post.Title </h3>
        <small>@post.PostDate.ToString("dd/MM/yyyy hh:mm tt")</small>
        <p class="justify-text">
            @CustomHtmlHelper.Truncate(Html, @post.Body, post.Id, 300)
        </p>
        <div class="callout">
            <ul class="menu simple">
                <li><a href="@Url.Action("Author", "Posts", new { id = post.AuthorId })">Autor:  @post.User.Name @post.User.LastName</a></li>
                <li><a asp-controller="Comments" asp-action="Create" asp-route-postId="@post.Id">Comentarios</a></li>
                <li><a href="@Url.Action("Category", "Posts", new { id = post.CategoryId })">Categoría: @post.Category.Name</a></li>
            </ul>
        </div>
    </article>
    <a asp-controller="Comments" asp-action="Create" asp-route-postId="@post.Id">Detalles</a>
    <a asp-action="Delete" asp-route-id="@post.Id">Eliminar</a>
}